
<button class="btn btn-danger" (click)="chooseLayout()">Show {{showTable ? 'Grid' : 'Table'}}</button>
<div *ngIf="showTable" class="row">
    <app-product-grid [products]="products" (loadDetailEvent)="loadDetails($event)" [selectedId]="selectedId"></app-product-grid>
</div>

<div *ngIf="!showTable" class="row">
  <app-product-card [products]="products" [selectedId]="selectedId" (loadDetailEvent)="loadDetails($event)"></app-product-card>
</div>
<br/>
<br/>
<div class="row">
<app-product-details (showDetailsEvent)="hideDetails($event)" [Id]="selectedId" *ngIf="showDetails"></app-product-details>
</div>
