
<div class="row">
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
       
            <tr *ngFor="let p of products">
                <td>{{p.Id}}</td>
                <td>{{p.Title}}</td>
                <td>{{p.Price}}</td>
                <td><button [disabled]="selectedId == p.Id" (click)="loadDetails(p.Id)" class="btn btn-info">Details</button></td>
            </tr>
    
    </tbody>
</table>
</div>